.MainImage
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0.4);


.Descripcion
  color: white;
  font-size: 2em;
  display: inline-block;
  text-align: justify;
  font-size: 20px;
  padding-top: 0px;
  margin: 2em;
  width: 70%;


.Cancha-description
  text-align: center;


.Cancha-d
  text-align: center;
  background: rgba(0, 0, 0, 0.4);



.Cancha-image
  display: inline-block;
  width: 250px;
  margin: 40px;
  border-radius: 8px;

.Cancha-Main
  background-image: url("../../assets/images/main/3.jpg");
  background-repeat: no-repeat;
  font-size: 20px;


.Somos-title
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 0;

.Somos
  text-align: justify;
  margin: 2em;


@media screen and (max-width: 448px) {
  .Cancha-image {
    width: 290px;
    margin: 0;
    }
}
