.ver
  align-items center
.image
  background #282e34;

.Establecimiento
  padding 9px
  margin-top 34px
    /*margin-left 5px*/

  background #282e34
  color white

.margen
  margin-left 13px
  border-bottom: 2px solid white;
.nombre
  padding-top 35px
  padding-bottom 25px
  background #282e34
  color white
  margin 0
.color
  background #276395
.img-thumbnail
  border 3px solid #fff !important
