.footer
  padding: 50px 0 20px 0
  background-color: rgba(17, 24, 31, 0.9)
.footer .title
  text-align: left
  color:#fff
  font-size:25px
.contact-form
  margin-top:15px
.contact-form .textarea
  min-height:125px
  resize:none
.foo
  box-shadow:none
  border-color:#eee
  height:49px
.foo:focus
  box-shadow:none
.foo-feedback
  line-height:50px
.foo-feedback
  line-height: 50px
  top: 0px
.Text
  color white
.fa-facebook::before
  color #1e4ed8
  font-size: 27px
  margin: 5px
.fa-instagram::before
   color #b71e5e
   font-size: 27px
   margin: 5px
.fa-twitter::before
  color #18b0d2
  font-size: 27px
  margin: 5px
.fa-google::before
  color #a23737
  font-size: 27px
  margin: 5px
