* {
    margin: 0;
    padding: 0;
}

.About-item {
    display: inline-block;
    list-style: none;
}

.About-link {
    color: white;
    display: block;
    text-decoration: none;
}

.Contact {
    background: black;
    text-align: center;
}

.Contact-facebook,
.Contact-twitter,
.Contact-instagram,
.Contact-google {
    border-radius: 5em;
    color: white;
    display: inline-block;
    padding: .3em .5em;
}

.fa {
    font-size: 1.6em;
}

.Footer-contact {
    text-align: center;
}

.Logo-footer {
    margin: 0;
    padding: 1.5em;
    padding-left: 0.5em;
    float: left;
}

.Footer-imageContainer {
    display: block;
    margin: 0;
    text-align: left;
}


.Contact-information {
    color: white;
    display: block;
    padding: 1em;
    text-align: center;
    background-image: url("../../assets/images/footer/2.jpg");
}

.Contact-title {
    display: inline-block;
    color: white;
    margin-right: .6em;
}

.Footer-image {
    border-radius: 90%;
    height: 50px;
    width: 50px;
    padding: solid white;
    background: white;
}

.Footer-legal-name {
    display: inline-block;
}

.link {
    color: #e9bd15;
}

.btn_submit {
    margin-right: 1em;
}
