<section class="Footer-contact">
    <div class="Contact-information">
        <h3 class="Contact-title"><strong>Contáctenos</strong></h3>
        <div class="Contact-information-adress">
            <strong>Lugar:</strong> Palmira, Valle, Colombia.
        </div>
        <div class="Contact-information-phone">
            <strong>Teléfono: </strong> +(57) 287 37 21
        </div>
        <div class="Contact-information-email">
            <strong>Email: </strong>
            <a href="mailto:socialsoccer1290@gmail.com" class="link">socialsoccer1290@gmail.com</a>
        </div>
    </div>
</section>

<section class="social networks">
    <div class="Contact">
        <h3 class="Contact-title"></h3>
        <div class="Contact-facebook">
            <a class="fa fa-facebook" href="https://www.facebook.com/Social-Soccer"aria-hidden="true"></a>
        </div>
        <div class="Contact-twitter">
            <a class="fa fa-twitter" href="https:/SocialSoccer1290@gmail.com" aria-hidden="true"></a>
        </div>
        <div class="Contact-instagram">
            <a class="fa fa-instagram" aria-hidden="true"></a>
        </div>
        <div class="Contact-google">
            <a class="fa fa-google-plus" aria-hidden="true"></a>
        </div>
    </div>
</section>

<!--footer class="FooterContainer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 NavbarForm-footer">
        <form>
          <h4>hola xd</h4>
          <div>
            <input type="email" class="form-control">
            <small class="text-muted">texto claro</small>
            <span></span>
            <span></span>
          </div>
          <button type="submit" class="btn btn-primary">suscribirme</button>
        </form>
      </div>
      <div class="col-md-3 col-md-offset-5 NavbarFooter">
        <h4>Navegacion</h4>
        <ul class="nav">
          <li><a href="#" class="navbar-link">Home</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
