<section class="Footer-contact">


    <div class="Contact-information">
        <h3 class="Contact-title">Contáctenos</h3>
        <div class="Contact-information-adress">
            <strong>Lugar:</strong> Palmira, Valle, Colombia.
        </div>
        <div class="Contact-information-phone">
            <strong>Teléfono: </strong> +(57) 287 37 21 Móvil: 318 412 5678 o 314 871 3550
        </div>
        <div class="Contact-information-email">
            <strong>Email: </strong>
            <a href="mailto:SocialSoccer.com" class="link">SocialSoccer.com</a>
        </div>
    </div>
</section>

<section class="social networks">
    <div class="Contact">
        <h3 class="Contact-title"></h3>
        <div class="Contact-facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="Contact-twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="Contact-instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="Contact-google">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </div>
    </div>
</section>
