<h3 class="text-center">Reservas</h3>

<section class="container list" ng-cloak="">
<div class="panel panel-primary tabla">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Buscar</strong></h3>
		<input class="letter form-control" type="text" ng-model="vm.filtro">
	</div>

<div class="panel-body">
	<md-table-container>
		<table md-table>
			<thead md-head>
				<tr>
          <th md-column> <strong>Llegada</strong></th>
          <th md-column> <strong>Fecha de la reserva</strong></th>
          <th md-column> <strong>Hora Inicial</strong></th>
          <th md-column> <strong>Hora Final</strong></th>
          <th md-column> <strong>Nombres Usuario</strong></th>
          <th md-column> <strong>Apellidos Usuario</strong></th>
          <th md-column> <strong>Establecimiento</strong></th>
          <th md-column> <strong>Cancha</strong></th>
          <th md-column> <strong>Cancelar</strong></th>
          <!-- <th md-column> <strong>Actualizar</strong></th> -->
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row ng-repeat="item in vm.reservations  | limitTo:vm.query.limit: (vm.query.page -1) * vm.query.limit | filter:vm.filtro">

          <td md-cell><md-checkbox ng-model="isChecked" aria-label="Finished?"></md-checkbox></td>
          <td md-cell>{{item.date | date:'yyyy-MM-dd'}}</td>
					<td md-cell>{{item.initialHour | date:'HH:mm:ss'}}</td>
          <td md-cell>{{item.finalHour | date:'HH:mm:ss'}}</td>
          <td md-cell>{{item.idUsers.names}}</td>
          <td md-cell>{{item.idUsers.lastNames}}</td>
          <td md-cell>{{item.idSoccerFields.idHeadquarters.idEstablishments.name}}</td>
          <td md-cell>{{item.idSoccerFields.name}}</td>
					<td md-cell><md-button class="btn btn-warning"  ng-model="item.estado" aria-label="Switch 2" ng-click="vm.Cancelar(item)" >Cancelar: {{item.estado}} </md-button></td>
          <!-- <td md-cell><button type="button" class="btn btn-warning" ng-click="vm.Cancelar(item) ">Cancelar</button></td> -->
          <!-- <md-checkbox aria-label="Select All"
                                 ng-checked="isChecked()"
                                 md-indeterminate="isIndeterminate()"
                                 ng-click="toggleAll()">
                      <span ng-if="isChecked()">Un-</span>Select All
                    </md-checkbox> -->

          <!-- <td md-cell><a class="btn btn-primary" >Editar</a></td> -->
				</tr>
			</tbody>
		</table>
	</md-table-container>

	<md-table-pagination md-limit="vm.query.limit"
	                     md-limit-options="[5, 10, 15, 20]"
											 md-page="vm.query.page"
											 md-total="{{vm.reservations.length}}"
											 md-on-paginate="getDeserts" md-page-select>
	</md-table-pagination/>
</div>
</div>

	<!--MD DATA TABLE-->
</section>
