<!--Header-->
<header class="Header-container">
  <div class="container">
    <div class="row Header-containerAlignV">
      <div class="col-xs-3 col-md-6 ">
        <a ui-sref="main">Social Soccer</a>
      </div>
      <div class="col-xs-6 col-md-12  ">
        <a ui-sref="profile"class="hidden-sm"><img ng-if="nav.authService.isAuthenticated()" class="img-resposive img-circle hidden-xs"  ng-src="../../assets/images/Photos/{{nav.$auth.getPayload().avatar}}"/>
        </a>
        <md-button name="button" type="button" ng-if="nav.authService.isAuthenticated()" ng-click="!nav.authService.logout()" ui-sref="main" class="btn btn-danger hidden-xs hidden-sm    col-md-push-8 Usuario">Cerrar Sesion</md-button>
        <md-button ui-sref="profile" ng-if="nav.authService.isAuthenticated()" class=" btn btn-success col-xs-12 col-md-3 col-md-push-8    Usuario-2">
          {{nav.authService.username() }} </md-button>
        <md-button ui-sref="profile" ng-if="nav.authService.isAuthenticated()" class=" btn btn-success col-xs-3 col-md-push-8    Usuario-2">
          {{nav.authService.username()}}</md-button>

          <md-button ng-if="!nav.authService.isAuthenticated()" ui-sref="login" class="button btn btn-primary hidden-md hidden-sm hidden-lg">Iniciar Sesión</md-button>
        </div>
      <div class="col-xs-5 col-md-10 col-lg-10  ">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMenu" >
          <i class="fa fa-bars " aria-hidden="true"></i>
        </button>
      </div>
      <md-button ng-if="!nav.authService.isAuthenticated()" ui-sref="login" class="btn btn-primary col-xs-1 col-sm-10  col-md-10   hidden-xs  ">Iniciar Sesión</md-button>
      <md-button ng-if="!nav.authService.isAuthenticated()" ui-sref="users-create" class="btn btn-warning hidden-xs col-md-10  col-sm-10 ">Registrarse</md-button>
        </div>
  </div>
</header>
<!--/header-->
<!--/menu-->
<div class="MenuContainer">
  <nav class="collapse navbar navbar-collapse" id="navMenu">
    <div class="container">
      <div class="row AligNavbar">
        <div class="col-xs-12 " nav-bar-ariaiu-label="navigation links">
          <ul class="nav navbar-nav">
            <li >
              <a  ui-sref="main" name="page1" class="navbar-link text-center" ng-click="nav.ocultarCollapse()">
                Inicio</a>
            </li>
            <li >
              <a ui-sref="nosotros" name="page2" class="navbar-link text-center"  ng-click="nav.ocultarCollapse()">
                Nosotros</a>
            </li>
            <li >
              <a ui-sref="users-list"  ng-hide="!nav.authService.isAdmin()" name="page4" ui-sref-active="active" class="navbar-link text-center" ng-click="nav.ocultarCollapse()">
                Mis Usuarios</a>
            </li>
            <li>
              <a class="navbar-link text-center  hidden-md    hidden-lg " ui-sref="main" name="button" type="button" ng-show="nav.authService.isAuthenticated()" ng-click="!nav.authService.logout()" ui-sref="main"
                  ng-click="nav.ocultarCollapse()">
                Cerrar sesion</a>
            </li>
            <li >
              <a ui-sref="users-create"   ng-if="!nav.authService.isAdmin()" name="page5"class="navbar-link text-center visible-xs" ng-click="nav.ocultarCollapse()">
                Registrarse</a>
            </li>

            <li>
            <a ui-sref="reservations-list"  ng-if="nav.authService.isOwner()" name="page4">
              Mis reservas</a>
            </li>
            <li>
            <a ui-sref="reservations"  ng-if="nav.authService.isAuthenticated()"class="text-center" name="page4">
              Reservar</a>
            </li>
          </ul>
        </div>
      </div>
        <!-- <div class=" col-xs-10 col-md-10 hidden-xs MarginTopSearch-main Search">
          <form>
            <div class="input-group">
             <input type="text" class="form-control" placeholder="¿Encontro lo que buscaba?"></input>
              <span class="input-group-biutn">
                <button class="btn Btn-adsi">
                  <span class="hidden-xs hidden-sm">Buscar</span>
                  <i class="fa fa-search IconSearch visible-xs visible-sm"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="col-xs-11 visible-xs MarginTopSearch">
    <form>
      <div class="input-group">
       <input type="text" class="form-control" placeholder="¿Encontro lo que buscaba?"></input>
        <span class="input-group-btn">
          <button class="btn Btn-adsi">
            <span class="hidden-xs hidden-sm">Buscar</span>
            <i class="fa fa-search IconSearch visible-xs visible-sm"></i>
          </button>
        </span>
      </div>
    </form>
  </div> -->
