
<header id="Header" class="Header">


    <div class="Header-Text">
        <ul>
            <li>
                <h1 class="Social">SOCIAL</h1>
                <img src="assets/images/header/1.jpg" class="Header-image">
                <h1 class="Social">SOCCER</h1>
            </li>
        </ul>
    </div>

<div class="navb">


          <nav class="navbar">
            <ul class="menu">
                <li><a href="main"><span class="icon-home"></span>INICIO</a>
                    <!--ul class="sub-menu">
                <li><a href="#">Canchas</a></li>
                <li><a href="#">Sub-Menu 2</a></li>
                <li><a href="#">Sub-Menu 3</a></li>
                    </ul-->
                </li>
                <li><a href="courts"><span class="icon-futbol-o"></span>CANCHAS</a></li>
                <li><a href="login"><span class="icon-user"></span> INICIO DE SESION</a>
                    <!--ul class="sub-menu">
                <li><a href="#">Sub-Menu 1</a></li>
                <li><a href="#">Level 3 Menu</a>

                </li>
            </ul>
            </li-->
                    <li><a href="users-create"><span class="icon-clipboard"></span>REGISTRARSE</a></li>

            </ul>
        </nav>
</div>


        <!--section id="Navbar" class="Navbar"

    <div class="Search">
        <form class="Search-form">
            <input class="Search-form-input " placeholder="Buscar">
            <input class="Search-form-submit " type="submit" value="Ir">
        </form>

        </div>
        </nav>-->
      </header>
