<!--Header-->
<header class="Header-container">
  <!-- <div class="container"> -->
    <div class="row Header-containerAlignV">
      <div class="col-xs-6 col-md-3">
        <!-- <img ui-sref="main" src="assets/images/header/logo.png" class="logo hidden-xs hidden-sm" ></img> -->
        <a ui-sref="main" class=" titulo ">Social Soccer</a>
      </div>

      <div class="col-xs-2 col-sm-3 col-md-2 col-md-push-5 col-sm-push-5  ">

        <md-buttom ui-sref="#"class=""><img ng-if="nav.authService.isAuthenticated()" class="img-resposive img-circle "
          ng-src="../../assets/images/Photos/{{nav.authService.getProfilePicture()}} "/></md-buttom>

        </div>
        <div class=" col-xs-4 col-xs-pull-2 col-md-12  hidden-md hidden-sm hidden-lg">
          <md-button ng-if="!nav.authService.isAuthenticated()" ui-sref="login" class="button btn btn-primary">
            <i class="fa fa-sign-out"></i> Iniciar Sesión </md-button>
        </div>

        <!-- <md-button ui-sref="profile" ng-if="nav.authService.isAuthenticated()" class=" btn btn-success     Usuario-2"><i class="fa fa-user"></i>
          {{nav.authService.username() }} </md-button> -->
          <div class="col-xs-2 col-md-1 col-md-push-4 col-sm-push-3">
              <a class="dropdown" ng-if="nav.authService.isAuthenticated()" >
                <a href="#" class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false">
                  <div class="">
                    <i class="fa fa-angle-down Drp-mnu" ng-if="nav.authService.isAuthenticated()"></i>
                    <div class="clearfix"></div>
                  </div>
                </a>
                <ul class="dropdown-menu " ng-if="nav.authService.isAuthenticated()">
                  <li>
                    <a ui-sref="profile">
                      <i class="fa fa-user"></i>
                      Perfil</a>
                    </li>
                    <li>
                      <a href="#" ng-click="vm.AuthService.logout()">
                        <!-- <i class="fa fa-sign-out"></i> -->
                        <li name="button" type="button" ng-if="nav.authService.isAuthenticated()" ng-click="!nav.authService.logout()" ui-sref="main"
                        class=" Usuario"><i class="fa fa-sign-out"></i>Cerrar Sesion</li>
                      </a>
                    </li>
                  </ul>
                </a>
              </div>

      <div class="col-xs-2  col-sm-push-2  ">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMenu" >
          <i class="fa fa-bars " aria-hidden="true"></i>
        </button>
      </div>
      <md-button ng-if="!nav.authService.isAuthenticated()" ui-sref="login" class="btn btn-primary col-xs-1 col-sm-10  col-md-10   hidden-xs  "><i class="fa fa-sign-out"></i>   Iniciar Sesión  </md-button>
      <md-button ng-if="!nav.authService.isAuthenticated()" ui-sref="users-create" class="btn btn-warning hidden-xs col-md-10  col-sm-10 "><i class="fa fa-user-plus"></i>  Registrarse</md-button>
        </div>
  </div>
</header>
<!--/header-->
<!--/menu-->
<div class="MenuContainer">
  <nav class="collapse navbar navbar-collapse" id="navMenu">
    <!-- <div class="container"> -->
      <div class="row AligNavbar">
        <div class="col-xs-12 " nav-bar-ariaiu-label="navigation links">
          <ul class="nav navbar-nav">
            <li >
              <a  ui-sref="main" name="page1" class="navbar-link text-center" ng-click="nav.ocultarCollapse()"><i class="fa fa-play"></i> |
                Inicio</a>
            </li>
            <li >
              <a ui-sref="nosotros" name="page2" class="navbar-link text-center "  ng-click="nav.ocultarCollapse()"><i class="fa fa-users"></i>   |
                Nosotros</a>
            </li>
            <li >
              <a ui-sref="users-list"  ng-hide="!nav.authService.isAdmin()" name="page4" ui-sref-active="active" class="navbar-link text-center " ng-click="nav.ocultarCollapse()">
              <i class="fa fa-user"></i>| Mis Usuarios</a>
            </li>
            <!-- <li>
              <a class="navbar-link text-center  hidden-md hidden-lg  " ui-sref="main" name="button" type="button" ng-show="nav.authService.isAuthenticated()" ng-click="!nav.authService.logout()" ui-sref="main"
                  ng-click="nav.ocultarCollapse()">

              <i class="fa fa-sign-out"></i>|Cerrar sesion</a>
            </li> -->
            <li >
              <a ui-sref="users-create"   ng-if="!nav.authService.isAdmin()" name="page5"class="navbar-link text-center visible-xs" ng-click="nav.ocultarCollapse()"><i class="fa fa-user-plus"></i>|
             Registrarse</a>
            </li>

            <li>
            <a ui-sref="reservations-list"  ng-if="nav.authService.isOwner()" name="page4 "class="navbar-link text-center ">
              <i class="fa fa-folder"></i>| Mis reservas</a>
            </li>
            <li>
            <a ui-sref="establishments"  ng-if="nav.authService.isAuthenticated()"class="text-center" name="page4">
              <i class="fa fa-home"></i>| Establecimientos</a>
            </li>
          </ul>
        </div>
      </div>
        <!-- <div class=" col-xs-10 col-md-10 hidden-xs MarginTopSearch-main Search">
          <form>
            <div class="input-group">
             <input type="text" class="form-control" placeholder="¿Encontro lo que buscaba?"></input>
              <span class="input-group-biutn">
                <button class="btn Btn-adsi">
                  <span class="hidden-xs hidden-sm">Buscar</span>
                  <i class="fa fa-search IconSearch visible-xs visible-sm"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="col-xs-11 visible-xs MarginTopSearch">
    <form>
      <div class="input-group">
       <input type="text" class="form-control" placeholder="¿Encontro lo que buscaba?"></input>
        <span class="input-group-btn">
          <button class="btn Btn-adsi">
            <span class="hidden-xs hidden-sm">Buscar</span>
            <i class="fa fa-search IconSearch visible-xs visible-sm"></i>
          </button>
        </span>
      </div>
    </form>
  </div> -->
