.AlignNavbar
  display flex
  align-items center
  flex-flow row wrap
.AlignItemsNavbar
  display flex
  justify-content center

.Header-container
  background: rgba(17, 24, 31, 0.9)
  color white

.logo
  width 25%
  border-rigth solid 2px white 

.Home
  text-transform uppercase
  color white
  font-weight bold
  font-size 20px

.Header-containerAlignV
  display flex
  align-items center
.Header-containerAlignV > div > h1
  margin-top 0
  margin-bottom 0

.IconSearch
  font-size 20px
input.form-control:focus
  border-color MainColor
.input-group
  margin-bottom 1em
  margin-top 1em
  display flex
  width 94%
.navbar-nav > li > a
  color #363636

.navbar-nav > li > a:hover
  color blue
  background-color white

.Menucontainer
  background-color #f7f7f9

.btn.Btn-adsi
  background-color  rgba(17, 24, 31, 0.9)
  color white
.btn.Btn-adsi:hover
  background-color  #428bca

.md-button
  margin 17px 4px
  font-size: 15px;
a
  font-size 20px
  text-decoration none !important
  color white

a:hover
  color white
button
  font-size: 25px;
.Enlace
  color black
.navbar-toggle
  margin-right 0 !important
.img-circle
  width 45px
@media (min-width: 1200px)
  .col-lg-10 {
    width: 28%;
    }

@media (min-width: 992px)
  .col-md-10 {
     width: 33%;
     }
