.Carousel-container
  margin-top: 118px;

.carousel-caption
  position: absolute
  right: 15%
  bottom: 35px
  width: 60%
  left: 15%
  z-index: 10
  padding-top: 20px
  padding-bottom: 20px
  color: #fff
  text-align: left
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6)


.Carousel-padding
  padding-left: 0
  padding-right: 0
.row
  margin-left 0
  margin-right 0
.Intro
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-image: url("../../assets/images/main/balon2.jpg")
  background-attachment fixed
  &-container
    margin: 80px 0
  &-button
    background-color: MainColor
    color: white
    text-transform: uppercase
    font-size: 17px
    border-radius: 0px
    padding: 20px 30px
  &-title
    text-transform: uppercase
    font-weight: bold
    background: rgba(17, 24, 31, 0.9)
    padding: 30px 30px
    border-left: 1px solid MainColor
    >p
      margin: 0
      color: white
      line-height: 54px
    >p:nth-child(1)
      font-size: 26px
    >p:nth-child(2)
      font-size: 43px
      color: MainColor
    >p:nth-child(3)
      font-size: 34px
.carousel-inner > .item > img
  width 100%
  height 500px
  padding: 0px 0px 0.5em
.Btn-adsi
  margin-bottom 1em
.ver
  background-color: #1c4a58;
  font-size 17px !important
.ver:hover
  background-color rgba(16,22,26,0.75)
  border-color rgba(16,22,26,0.75)
  color white
.mas
  background-color: #282e34;
.btn-lg
  padding: 10px 86px;
  margin 0
.TRABAJANDO
  font-size 100px
  text-align center
  color white
.can
  background-color: lightgray;
  transition:1s;
  box-shadow: 5px 5px 5px #999;
  color: black;
  font-size: 30px;
  font-family: monospace;
  align-items: center;
  justify-content: center;

.can:hover
  transform: rotate3d(0, 1, 0, 180deg);
  background-color white
.InfoContainer-button
  display flex
  justify-content flex-end
.InfoContainer
  padding-top 1em
  background-color #fafafa

.InfoContainer h4
  margin 1 em 0
  color #132E33
  font-weight bold

.imgInfo
  width 100%
  height 310px !important
  border #1c4a58 solid 3px
  border-radius 28px

.Title-animated
  font-size 60px
  text-transform uppercase

@media screen and (min-width:768px){
    .carousel-caption h3{font-size: 52px}
    .carousel-caption p{font-size: 32px}
    .carousel-caption{padding-bottom:160px}
}

.paquetes
  padding-bottom 50px
  padding-top 10px
.premium
  color white
  background-color #1c4a58
.oro
  color white
  background-color #204366
.estandar
  color white
  background-color #428bca
.paquete1
  border 2px solid #1c4a58
.paquete2
  border 2px solid #204366
.paquete3
  border 2px solid #428bca
.boton1
  background-color #1c4a58
  color white
  border-color #1c4a58
  border-radius 10px
.boton1:hover
  color #1c4a58
  border-color #1c4a58
  background-color white
.boton2
  background-color #204366
  color white
  border-color #204366
  border-radius 10px
.boton2:hover
  color #204366
  border-color #204366
  background-color white
.boton3
  background-color #428bca
  color white
  border-color #428bca
  border-radius 10px
.boton3:hover
  color #428bca
  border-color #428bca
  background-color white
.lead
  font-size 33px
  margin-bottom 0px
.linea
  border 3px solid #428bca
  border-radius 300px
  height 0px
  text-align center

.Sombra
  box-shadow 0px 17px 20px rgba(16, 22, 26, 0.75)
  margin-left 0px



.Portafolio
	margin-bottom 3em
  margin-top 111px
.Portfolio-image
	background-image url(../assets/images/ContactUs/contactUs.jpg)
	background-size cover
	background-repeat no-repeat
	width 100%
	min-height 250px
	position relative
.Portfolio-image:before
	content: "";
	width 100%
	height 100%
	background-color #000
	position absolute
	opacity 0.7
/*.Portfolio-title
	color #276395
	font-size 55px
	font-weight 600
	margin-top 0
	padding-top 1em
	text-align center*/
.Portfolio .gallery-grids
  margin 0
.Portfolio .nav-tabs
	border-bottom none
	margin 20px 0 20px
.Portfolio .nav-tabs > li
	margin-bottom 0
	margin 0 5px
.Portfolio .nav-tabs > li.active > a
	cursor pointer
	border none
	border-bottom 2px solid #f77924
.Portfolio .nav-tabs > li > a
	transition 1s
	padding 0 0 5px
	margin 5px 15px 0
	border-radius 0
	font-size 17px
	color #646464
	border none
	font-weight normal
.Portfolio .nav-tabs > li > a:hover, .Portfolio .nav-tabs > li > a:focus
	color #000
	background-color transparent
.Portafolio-item
	background-image url(../assets/images/ContactUs/contactUs.jpg)
	background-size cover
	background-repeat no-repeat
	transform-style preserve-3d
	width 100%
	height 300px
	position relative
	transition .9s ease
	box-shadow 0px 10px 15px -5px rgba(0,0,0,0.65)
.Portafolio-item:before
	content: "";
	width 100%
	height 100%
	background-color #000
	position absolute
	opacity 0.7
.Portafolio-wrap
	-webkit-perspective 800
	perspective 800
.Portafolio-wrap:hover .Portafolio-item
	transform rotateY(180deg)
.Ahead, Back
	color #fff
	position absolute
	width 100%
	height 100%
	backface-visibility hidden
.Back
	padding 0 15px
	text-align center
	color #fff
	transform rotateY(180deg)
.Back p
	text-align justify
.Back h4
	padding-top 4em
	text-align center
.card0
	background-image url(../assets/images/Profile/9.jpg)
	background-size cover
.card2
	background-image url(../assets/images/Profile/4.jpg)
	background-size cover
.card3
	background-image url(../assets/images/Profile/9.jpg)
	background-size cover
.card4
	background-image url(../assets/images/Profile/4.jpg)
	background-size cover
/*.card5
	background-image url(../assets/images/header/1.jpg)
	background-size cover
.card6
	background-image url(../assets/images/header/1.jpg)
	background-size cover
.card7
	background-image url(../assets/images/header/1.jpg)
	background-size cover
.card8
	background-image url(../assets/images/header/1.jpg)
	background-size cover
.card9
	background-image url(../assets/images/header/1.jpg)
	background-size cover
.card10
	background-image url(../assets/images/header/1.jpg)
	background-size cover*/

.tab-content > .active
	visibility visible

@media (max-width 380px)
	.Portfolio-image
		min-height 90px
	.Portfolio-image h2
		font-size 40px
		padding-top 2em
@media (max-width 1200px)
  .Portfolio-image:before
  	position relative
  .Portfolio-title
  	color black

.Portafolio-item
  margin-bottom 10px
