/*@import url(https://fonts.googleapis.com/css?family=Istok+Web);*/
@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -400%;
    }
    100% {
        left: -500%;
    }
}

.Cancha {
    font-family: arial;
    font-size: 3em;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 2px black;
}

body,
figure {
    margin: 0;
    /*font-family: Istok Web, sans-serif;*/
    font-weight: 100;
    position: relative;
}

div#captioned-gallery {
    width: 100%;
    overflow: hidden;
    padding-top: 0em;
    background: black;
}

figure.slider {
    width: 500%;
    font-size: 0;
    animation: 30s slidy infinite;
}

figure.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
}

figure.slider img {
    width: 100%;
    height: 500px;
}

figure.slider figure figcaption {
    position: absolute;
    bottom: 5em;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 100%;
    font-size: 4rem;
    padding: .6rem;
    text-align: center;
}

.figure figcaption {
    font-size: 2em;
}

.MainImage {
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.4);
}

.Descripcion {
    color: white;
    font-size: 2em;
    display: inline-block;
    text-align: justify;
    font-size: 20px;
    padding-top: 0px;
    margin: 2em;
    width: 70%;
}

.Cancha-description {

    text-align: center;
}

.Cancha-d {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

.Cancha-image {
    display: inline-block;

    width: 250px;
    margin: 40px;
    border-radius: 8px;
}
.Cancha-main{
  background-image: url("../../assets/images/main/15.jpg");
  background-repeat: no-repeat;
  font-size: 20px;
}

.Somos-title {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 0;
}
.Somos{
    text-align: justify;
    margin: 2em;
}
.slider{
  margin-top: 1em;
}




@media screen and (max-width: 448px) {
    .Cancha-image {
        width: 290px;
        margin: 0;
    }
}
