    /*.a {
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.Button {
    background: white;
    color: #fff;
}

.Button:hover {
    cursor: pointer;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 6px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

.legal_name {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 4px;
}

.login {
    background-size: 108%;
    padding-top: 1em;
    padding-bottom: 1em;
    left: 10px;
    margin-top: -2em;
}

.login-register {
    background-size: 108%;
    padding: 1.2em;
    margin-left: 2px;
    vertical-align: top;
    background-image: url("../../assets/images/main/li.jpg");
}

.Start,
.Start-register {
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 10px;
    padding: 15px 20px;
    width: 350px;
}

.Start {
    padding-top: 1em;
    margin-left: 80em;
    padding: 2em;
    margin-top: 110px;
}

.recover_account {
    color: #fff;
    display: block;
    text-decoration: none;
}


/*@media screen and (max-width:480px) {
    .Start {
        width: 100%;
    }
}*/

.Option{
  background: black;
  color: white;

}


.Button{
  background: black;
  color: white;
  padding: 0.3em;
  border-radius: 30%;
}
