.Register, .Login, .Update
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-image: url("../../assets/images/main/1.jpg")
  &-title
    color: gray
    margin: 0
  &-form
    background: white//rgba(0, 0, 0, 0.4)
    border-radius 3px;
    padding 30px 30px
    margin 63px 0

  &-label
    color wheat
  &-button
    font-weight bold
    padding 0 16px
.fa-futbol-o
  color gray
  padding-right 10px
  font-size 35px

.Regis
  padding-left 11px
  border-right-width 1px

md-input-container.md-icon-left 
  padding-left: 30px;
  padding-right: 0;
  margin-left: -11px;
