.container-p {
    margin: 50px auto;
    width: 600px;

  }

.letra
  font-size: 14px
  text-align left
a
  transition all ease 0.3s

.select
  margin-left 197px
  font-size 17px !important
  margin-bottom 0.8em
  margin-top .5em
.sox
  padding-top 28px

.Subir
  font-size 17px !important
  margin-left 220px
.Editar
  font-size 17px !important

.profile-box {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    max-width 500px
  }
.profile-box .profile-picture {
    top 177px !impotant
    left: 50%;
    margin-left: -55px;
  }
.profile-box .profile-picture img {
    border: 5px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    width 151px !important
    height 151px !important
    margin-left: 225px;
    margin-top: -78px !important
  }

.profile-cover-image {

    overflow: hidden;
  }
.profile-cover-image img {
    width: 100%;
    height: 174px;
  }

.profile-content {
    padding: 40px 0px;
    text-align: center;
    font-size: 13px
  }


@media(max-width 320px)
  .profile-picture img
    margin-left 121px

  .select
    margin-left 88px

  .Subir
    margin-left 108px
@media(max-width 390px)
  .profile-picture img
    margin-left 14px

  .select
    margin-left 111px

  .Subir
    margin-left 132px


@media(max-width 445px)
  .select
    margin-left 88px
  .Subir
    margin-left 108px
@media(max-width 450px)
  .select
    margin-left 88px
  .Subir
   margin-left 108px

  .profile-picture img
    margin-left 117px !important

@media(max-width 540px)
  .profile-picture img
    margin-left 150px

@media(max-width 320)
  .profile-content
    font-size
