.fa-book:before
  margin-right 10px !important
  color #7a7a8c


md-datepicker
  padding 0 !important

.layout-row > .flex-45
  background-color white !important

.reloj
  font-size 25px
.caja
  padding-right 40px

.control
  font-size 25px
  padding 20px

.input-group .form-control
  padding-top  40px
