<div class="Register">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <form class="Register-form" name="registerForm" ng-submit="vm.createReservations()">

          <div layout="row" layout-align="start center">
            <i class="fa fa-book fa-2x" aria-hidden="true"></i>
            <h3 class="Register-title">Realiza tu Reserva</h3>
          </div>

          <br>

          <div layout="row">
            <md-content flex="45">
              <label class="Registrer-label">Fecha</label>
              		<div class="form-group">
              			<md-datepicker type="date" name="registerForm" class="form-control" md-is-open="ctrl.isOpen" ng-model="vm.reservations.date" required> </md-datepicker>
              		</div>
              <div ng-messages="registerForm.date.$error">
                <div ng-message="required">La fecha es requerida</div>
              </div>
            </md-content>

          </div>
          <div class="row">

          <md-input-container flex="45">
            <label class="Registrer-label">Hora Inicial</label>
            <div class="form-group">
              <div class="input-group hora">
                <span class="input-group-addon caja">
                  <span class="glyphicon glyphicon-time reloj"></span>
                </span>
                <input type="time" class="form-control control" name="initialHour" ng-model="vm.reservations.initialHour" required placeholder="10:10"   >
                <script type="text/javascript">

                $('.hora').clockpicker({
                  // Texto de confirmacion
                  donetext: 'Done',
                  // Call backs para los distintos eventos
                  init: function() {
                    console.log("colorpicker initiated");
                  },
                  beforeShow: function() {
                    console.log("before show");
                  },
                  afterShow: function() {
                    console.log("after show");
                  },
                  beforeHide: function() {
                    console.log("before hide");
                  },
                  afterHide: function() {
                    console.log("after hide");
                  },
                  beforeHourSelect: function() {
                    console.log("before hour selected");
                  },
                  afterHourSelect: function() {
                    console.log("after hour selected");
                  },
                  beforeDone: function() {
                    console.log("before done");
                  },
                  afterDone: function() {
                    console.log("after done");
                  }
                })
                .find('input').change(function(){
                  console.log('Viene del extenso', this.value);
                });

                </script>
              </div>
            </div>

            <div ng-messages="registerForm.initialHour.$error">
              <div ng-message="required">La hora es requerida</div>
            </div>
          </md-input-container>

          <md-input-container flex="45">
            <label class="Registrer-label">Hora final</label>
            <div class="form-group">
              <div class="input-group hora">
                <span class="input-group-addon caja">
                  <span class="glyphicon glyphicon-time reloj"></span>
                </span>
                <input type="time" name="finalHour" class="form-control control" ng-model="vm.reservations.finalHour" required>
                <script type="text/javascript">

                $('.hora').clockpicker({
                  // Texto de confirmacion
                  donetext: 'Done',
                  // Call backs para los distintos eventos
                  init: function() {
                    console.log("colorpicker initiated");
                  },
                  beforeShow: function() {
                    console.log("before show");
                  },
                  afterShow: function() {
                    console.log("after show");
                  },
                  beforeHide: function() {
                    console.log("before hide");
                  },
                  afterHide: function() {
                    console.log("after hide");
                  },
                  beforeHourSelect: function() {
                    console.log("before hour selected");
                  },
                  afterHourSelect: function() {
                    console.log("after hour selected");
                  },
                  beforeDone: function() {
                    console.log("before done");
                  },
                  afterDone: function() {
                    console.log("after done");
                  }
                })
                .find('input').change(function(){
                  console.log('Viene del extenso', this.value);
                });

                </script>
              </div>
            </div>

            <div ng-messages="registerForm.finalHour.$error">
              <div ng-message="required">La hora es requerida</div>
            </div>
          </md-input-container>

        </div>


          <!--div layout="row">
            <md-input-container flex="45">
              <label for="">Cancha</label>
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.reservations.idSoccerFields.idSoccerFields" required>
                  </div>
              <div ng-messages="registerForm.typeDocument.$error">
                <div ng-message="required">La cancha es requerida</div>
              </div>
            </md-input-container>
            <div flex="10">

            </div>
          </div-->


          <div layout="row" layout-align="space-between center">
            <!--md-input-container flex="45">

              <label>Establecimiento</label>
              <md-select name="establishments" ng-model="vm.reservations.idEstablishments.idEstablishments" ng-change="vm.getSoccerFiels()" required>
                <md-option ng-value="{{item.idEstablishments}}" ng-repeat="item in vm.establishments">
                  {{item.name}}
                </md-option>
              </md-select>
              <div ng-messages="registerForm.establishments.$error">
                <div ng-message="required">Por favor ingrese un establecimiento.</div>
              </div>
            </md-input-container-->

            <md-input-container flex="45">
              <label>Cancha</label>
              <md-select name="soccerFields" ng-model="vm.reservations.idSoccerFields.idSoccerFields" required>
                <md-option  ng-value="{{item.idSoccerFields}}" ng-repeat="item in vm.soccerFields">
                  {{item.name}}
                </md-option>
              </md-select>
              <br>
              <div ng-messages="registerForm.soccerFields.$error">
                <div ng-message="required">Por favor ingrese una cancha.</div>
              </div>
            </md-input-container>
          </div>

          <div class="text-center">
            <md-button  class="Register-button md-raised md-primary" type="submit">Reservar</md-button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
