.a {
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.Button {
    background: black;
    color: white;
    padding: 0.3em;
    border-radius: 30%;
}


.Button:hover {
    cursor: pointer;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 6px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border-radius: 6px;
}

.legal_name {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 4px;
}

.login {
    background-size: 100%;
    padding-top: 13em;
    padding-bottom: 1em;
    background-image: url("../../assets/images/main/li.jpg");
    padding-bottom: 15.3em;
    text-align: -webkit-center;
}

.login-register {
    background-size: 100%;
    background-image: url("../../assets/images/main/li.jpg");
    padding-top: 5em;
    padding-bottom: 2em;
    text-align: -webkit-center;
}

.Start,
.Start-register {
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 7px;
    margin-top: 0px;
    padding: 15px 20px;
}

.Start {
    padding-top: 2em;
    padding: 2em;
    margin-top: 33px;
    width: 420px;
}

.Start-register {
    width: 420px;
}

.recover_account {
    color: white;
    display: block;
    text-decoration: none;
}

label {
    color: wheat;
}

@media screen and (max-width:480px) {
    .Start {
        width: 100%;
    }
    .Start-register {
        width: 100%;
    }
}
