<div class="Login" id="fill" >
  <div class="container">
    <div class="row" >
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <form class="Login-form" name="loginForm">
          <h3 class="Login-title"> <i class="fa fa-sign-in"> </i> Iniciar sesión</h3><br>

          <!--Angular Material-->

          <md-input-container class="md-block">
            <md-icon md-font-icon="fa fa-at fa-2x"></md-icon>
            <input type="text" placeholder="Email" md-no-asterisk ng-pattern="/^.+@.+\..+$/"
             md-maxlength="100" required name="name" ng-model="vm.user.email">

            <div ng-messages="loginForm.name.$error">
              <div ng-message="required">El email es requerido.</div>
              <div ng-message="pattern">Por favor ingrese un email válido.</div>
              <div ng-message="md-maxlength">El número debe tener menos de 15 caracteres de longitud.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <md-icon md-font-icon="fa fa-unlock-alt fa-2x"></md-icon>

            <input type="password" placeholder="Password" md-no-asterisk
            minlength="4" required name="password" ng-model="vm.user.password" id="password1">
            <div ng-messages="loginForm.password.$error">
              <div ng-message-exp="['required', 'minlength']">
                Su password debe tener al menos 4 caracteres de longitud.
              </div>
            </div>
          </md-input-container>
          <div class="form-groupo CheckBox" layout="row" layout-align="start center">
                   <input type="checkbox" class="checkbox" onchange="document.getElementById('password1').type = this.checked ? 'text': 'password'">
                   <span class="Check"> Ver contraseña</span>
                   <!--input class="Login-check" type="checkbox" id="rem">
                   <label for="rem">Stay Signed in</label-->
                 </div>
          <div class="Login-formBottom">
            <a href="#">¿Has olvidado tu contraseña?</a>
            <md-button class="Register-button md-raised md-primary" type="submit" ng-click="vm.login()">Iniciar</md-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
