.NoDecoration
  text-decoration: none
#fill
  height: 80vh
.Login
  &-form
    min-height: 400px

    margin: 100px 0 !important

  &-formBottom
    display: flex
    justify-content: space-between
    align-items: center
.checkbox
  width 25px
  height 25px

.Check
  margin-left 5px
  font-size 18px
  border-bottom solid 1px #276395

.form-groupo
  justify-content center
